/****************/
/*   SECTION 1  */
/****************/

section:nth-of-type(1) {
  display: grid;
}

section:nth-of-type(1) img {
  grid-row-start: 1;
  grid-row-end: 2;
}

section:nth-of-type(1) ul {
  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;

  grid-template-columns: max-content max-content max-content;
  grid-template-rows: max-content max-content;

  margin-top: 1.8em;
  margin-bottom: 0;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

section:nth-of-type(1) li {
  margin: 0 1em 1em 0;
}

section:nth-of-type(1) li:nth-of-type(1) {
  font-family: "circular-thick";
  background-color: var(--color-accent2);

  padding: 0.2em 0.4em 0.2em 0.4em;
}

section:nth-of-type(1) h2 {
  font-size: 2.5em;
  font-family: "circular-thick";
  text-transform: uppercase;
  color: var(--color-menu);

  padding-left: 0.5em;
  margin: 0.5em 0 0.2em 0;
}

section:nth-of-type(1) p {
  color: var(--color-text);
}

section:nth-of-type(1) > p:nth-of-type(2) {
  font-family: "Circular-thick";
  font-size: 1.7em;

  padding: 0 0.5em 0 0.5em;
}

section:nth-of-type(1) > p:nth-of-type(1) {
  grid-row-start: 3;
  grid-row-end: 4;

  padding-left: 1.2em;

  text-decoration: none;
  color: var(--color-accent3);
  margin: 0;
}

section:nth-of-type(1) p a {
  color: var(--color-accent3);
}

section:nth-of-type(1) p a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

section:nth-of-type(1) a {
  font-family: "Circular";
  text-decoration: none;
  color: var(--color-text);
}

section:nth-of-type(1) ul li:nth-of-type(1) a {
  font-family: "Circular-thick";
  text-decoration: none;
}

section details {
  margin: 1.5em 0 1.5em 0;
  padding: 0 1.2em 0 1.2em;
}

section details summary {
  font-family: "Circular";
  font-size: 1.25em;
  cursor: pointer;
  list-style: none;
}

section details summary:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

/* Sanne heeft deze code getypt */
summary::before {
  content: "More about ";
}

details[open] summary::before {
  content: "Less about ";
}

summary::after {
  content: "⏷";
  display: inline-block;
  margin-left: 0.25em;
}

details[open] summary::after {
  content: "⏶";
}

section details p {
  font-size: 1.25em;
  line-height: 1.5em;
}

section details p:last-of-type {
  font-size: 1em;
  line-height: 1.5em;
}

section details a:last-of-type:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

/****************/
/*   CAROUSEL   */
/****************/

main section:nth-of-type(2) ul {
  background-color: var(--color-menu);
  color: var(--color-background);

  display: flex;
  overflow: auto;

  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;

  overscroll-behavior-x: contain;

  anchor-name: --carousel;
}

main section:nth-of-type(2) ul {
  scroll-marker-group: after;

  &::scroll-marker-group {
    position: fixed;
    position-anchor: --carousel;
    position-area: block-end;
    position-visibility: always;
    margin: 10px;

    display: grid;
    grid-auto-columns: 1.8em;
    grid-auto-flow: column;
    gap: 10px;

    margin: 1em;
  }

  > li {
    &::scroll-marker {
      content: "" / attr(data-label);

      width: 1.7em;
      height: 0.5em;
      background-color: var(--color-carousel);
    }

    &::scroll-marker:target-current {
      background: var(--color-accent3);
    }
  }
}

main section:nth-of-type(2) ul {
  &::scroll-button(*) {
    position: fixed;
    border: none;
    cursor: pointer;
    font-size: 2em;

    position-anchor: --carousel;

    position-visibility: always;
    font-family: "Material Symbols Outlined";
  }

  &::scroll-button(right) {
    position-area: bottom center;
    justify-self: end;
    content: "⏵" / "Next";
    margin: 0 0.5em 0 0;
  }

  &::scroll-button(left) {
    position-area: bottom center;
    justify-self: start;
    content: "⏴" / "Previous";
    margin: 0 0 0 0.5em;
  }
}

main section:nth-of-type(2) li {
  display: grid;
  grid-template-rows: max-content max-content max-content 1fr 1fr 1em;
  grid-template-columns: 1fr;

  flex-basis: 23.1em;
  aspect-ratio: 1/1;

  flex-shrink: 0;

  scroll-snap-align: center;
}

section:nth-of-type(2) h2 {
  font-size: 1.25em;
  font-family: "circular-thick";

  padding-left: 1.25em;
  padding-right: 1.25em;
}

section:nth-of-type(2) p {
  margin-top: 0;
  font-size: 1em;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

section:nth-of-type(2) img {
  grid-row-start: 1;
  grid-row-end: 2;
}

section:nth-of-type(2) a,
section:nth-of-type(2) button {
  font-family: "Circular-thick";
  font-size: 1em;

  border: none;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-background);
  background-color: var(--color-accent);

  padding: 0.9em;

  justify-items: center;
}

section:nth-of-type(2) a:hover,
section:nth-of-type(2) button:hover {
  background-color: var(--color-accent3);
}

section:nth-of-type(2) section {
  display: flex;
  gap: 1em;
  padding-left: 1.5em;
}

/****************/
/*   SECTION 3  */
/****************/

/* titel en tekst */
section:nth-of-type(3) {
  padding: 5em 1em 3.75em 1em;

  display: grid;
  grid-template-rows: max-content 20em max-content max-content max-content max-content max-content;

  color: var(--color-text);
}

section:nth-of-type(3) h2:nth-of-type(1),
section:nth-of-type(3) h3 {
  font-family: "circular-thick";
  font-size: 1.75em;

  margin: 0;
}

section:nth-of-type(3) > a:nth-of-type(1) {
  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;

  background-color: var(--color-white);

  margin: 1em 0 1em 0;
}

section:nth-of-type(3) > a img {
  justify-self: center;
  align-self: center;
  width: 11em;

  transition: 0.5s;
}

section:nth-of-type(3) > a img:hover {
  width: 11.5em;
}

section:nth-of-type(3) > a:nth-of-type(2) {
  font-family: "Circular-thick";
  font-size: 1.25em;
  text-decoration: none;
  color: var(--color-background);
  background-color: var(--color-accent);

  text-align: center;
  width: 35%;
  padding: 0.5em 0.9em 0.5em 0.9em;
  margin: 0.5em 0 0 0.5em;
}

section:nth-of-type(3) a:nth-of-type(2):hover {
  background-color: var(--color-accent3);
}

/* kaartjes */
section:nth-of-type(3) h2:nth-of-type(2) {
  font-family: "Circular";
  font-size: 1.75em;

  margin-top: 2.5em;
}

section:nth-of-type(3) ul {
  grid-row-start: 7;
  grid-row-end: 8;

  padding-right: 1em;

  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
}

section:nth-of-type(3) li a {
  display: grid;
  grid-template-rows: max-content max-content max-content max-content 1em;
  grid-template-columns: 1fr max-content;

  font-family: "Circular";
  font-size: 1em;
  text-decoration: none;

  background-color: var(--color-white);
}

section:nth-of-type(3) li a img {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;

  width: 6em;
  padding: 1em 0 1em 0;

  transition: 0.2s;
}

section:nth-of-type(3) li a img:hover {
  width: 6.5em;
}

section:nth-of-type(3) li a h4 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;

  color: var(--color-text);
  padding: 0 1em 0 1em;
  margin: 0;
}

section:nth-of-type(3) ul li a p:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 3;

  color: var(--color-accent3);
  padding-left: 1em;
  margin: 0 0 0.5em 0;
}

section:nth-of-type(3) li a p:nth-of-type(2) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;

  align-self: start;
  justify-self: end;
  z-index: 1;
  padding: 0.5em;
  margin: 0;

  color: var(--color-background);
  background-color: var(--color-text);
}

/* see all link */
section:nth-of-type(3) > a:last-of-type {
  font-family: "Circular-thick";
  font-size: 1.25em;
  text-decoration: none;
  color: var(--color-text);
}

section:nth-of-type(3) > a:last-of-type:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

/****************/
/*   SECTION 4  */
/****************/

section:nth-of-type(4) {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 1fr;
}

section:nth-of-type(4) h2 {
  font-family: "Circular";
  font-size: 1.75em;

  padding: 0 1em 0 1em;
  margin: 0;

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: 1;
}

section:nth-of-type(4) ul {
  padding: 1em;

  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 10em 10em;
  gap: 1em;

  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: 1;
}

section:nth-of-type(4) li a {
  display: grid;
  grid-template-rows: max-content max-content;

  text-decoration: none;
}

section:nth-of-type(4) a h3 {
  grid-row-start: 2;
  grid-row-end: 3;

  font-family: "Circular";
  font-size: 1em;
  text-align: center;
  color: var(--color-background);
  background-color: var(--color-text);

  margin: 0;
  padding: 0.8em 0.5em 0.8em 0.5em;
}

section:nth-of-type(4) a h3:hover {
  background-color: var(--color-accent3);
}

section:nth-of-type(4) > img {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: -1;
}
