/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-logo: #fe0000;
  --color-logo2: #000;
  --color-text: #2e2e2e;
  --color-text2: #2e2e2e;
  --color-text3: #f2f2f2;
  --color-background: #f2f2f2;
  --color-background2: #d8d8d8;
  --color-background3: #2e2e2e;
  --color-background4: #d7d7d7;
  --color-header: #f2f2f2;
  --color-menu: #2e2e2e;
  --color-menu-text: #f2f2f2;
  --color-menu-text2: #d8d8d8;
  --color-accent: #a40000;
  --color-shadow: #000;
  --color-accent2: #ffce58;
  --color-accent3: #a40000;
  --color-accent4: #ff8c00;
  --color-accent5: #720d0d;
  --color-carousel: #2e2e2e;
  --color-carousel-text: #f2f2f2;
  --color-carousel-marker: #4f4f4f;
  --color-white: #fff;
  --color-text-footer: #bfbfbf;
  --color-text2-footer: #f2ba36;
  --color-footer: #2e2e2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-logo: #fe0000;
    --color-logo2: #000;
    --color-text: #f2f2f2;
    --color-text2: #2e2e2e;
    --color-text3: #2e2e2e;
    --color-background: #2e2e2e;
    --color-background2: #262626;
    --color-background3: #f2f2f2;
    --color-background4: #d7d7d7;
    --color-header: #2e2e2e;
    --color-menu: #212121;
    --color-menu-text: #f2f2f2;
    --color-menu-text2: #d8d8d8;
    --color-accent: #ffa3a3;
    --color-shadow: #000;
    --color-accent2: #f2ba36;
    --color-accent3: #ff8c00;
    --color-accent4: #ff8c00;
    --color-accent5: #ffae4b;
    --color-carousel: #212121;
    --color-carousel-text: #f2f2f2;
    --color-carousel-marker: #999;
    --color-white: #212121;
    --color-text-footer: #bfbfbf;
    --color-text2-footer: #f2ba36;
    --color-footer: #2e2e2e;
  }
}

/*********/
/* FONTS */
/*********/

@font-face {
  font-family: "Circular";
  src: url("https://assets.viz.com/assets/lineto-circular-book-f06e423ccda8779ebad80a0eae639794683f3a3bf8b49c41a44134ca51a7a6a2.woff");
}

@font-face {
  font-family: "Circular-thick";
  src: url("https://assets.viz.com/assets/lineto-circular-black-8033350c1939eb76a3734eb904b30208dcf293f74798ef38c5925fbf2352974b.woff");
}

@font-face {
  font-family: "Circular-italic";
  src: url("https://assets.viz.com/assets/lineto-circular-bookItalic-bd5af185235fd174d209a9ccba05814baee74be5b506ebefed8c367e96354134.woff");
}

@font-face {
  font-family: "Circular-icons";
  src: url("https://assets.viz.com/assets/viz-icons-29a596f5ab7aad59662e4922b856f3cadc0b599abe54cd39c12c992a5f0e3944.woff");
}

/****************/
/*   SKIP LINK  */
/****************/

/* bron: https://youtu.be/287mLmuamoM?si=J-uLlU411qr1FlAX en https://www.accessibility.nl/kennis/zo-zet-je-skiplinks-voor-een-optimale-navigatie */
body > a {
  position: absolute;
  top: -5em;
  left: 0;

  font-family: "Circular-thick";
  font-size: 1em;
  background: var(--color-accent3);
  color: var(--color-text3);

  width: 100vw;
  text-align: center;
  padding: 1em 0 1em 0;
}

body > a:focus,
body > a:focus-visible {
  top: 0;

  outline: var(--color-accent2);
}

/****************/
/*   GENERAL    */
/****************/

body {
  margin: 0;
  background-color: var(--color-background);
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
}

p {
  font-family: "Circular";
}

/****************/
/*    HEADER    */
/****************/

/* header styling */
header {
  background-color: var(--color-header);

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

header section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2em;
  padding-left: 0.5em;
}

header section button {
  font-family: "Circular-icons";
  font-size: 1.25em;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  background-color: var(--color-header);
}

header > button {
  order: -10;
}

header p {
  font-family: "Circular-thick";
  text-transform: uppercase;
  font-size: 1.25em;
  color: var(--color-text);
  cursor: pointer;

  margin: 0;
}

header a img {
  width: 2em;
}

h1 {
  background-color: var(--color-logo);
  padding: 0.1em 1em 0 1em;
  margin: 0;
}

/* nav styling */
nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-decoration: none;
  background-color: var(--color-menu);
  box-shadow: 0 0 0.5em var(--color-shadow);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 2em;
  left: 0;

  translate: -150%;
  transition: 0.2s;
}

nav > button {
  background-color: var(--color-menu);
  color: var(--color-menu-text);
  font-family: "Circular-icons";
  font-size: 1.25em;
  text-align: start;
  cursor: pointer;

  border: none;

  padding: 1em;
}

nav ul {
  padding-left: 0.5em;
  margin: 0;
}

nav ul summary {
  list-style: none;
}

summary::after {
  content: "⏷";
  display: inline-block;
  margin-left: 0.25em;
  text-align: end;
}

details[open] summary::after {
  content: "⏶";
  text-align: end;
}

nav ul:nth-of-type(1) li {
  font-family: "Circular-thick";
  text-transform: uppercase;
  font-size: 1.5em;
  color: var(--color-menu-text);
  text-decoration: none;
  line-height: 2em;
}

nav ul:nth-of-type(1) li:hover,
nav ul:nth-of-type(1) li:focus {
  text-decoration: underline;
  cursor: pointer;
}

nav ul:nth-of-type(1) a {
  color: var(--color-menu-text);
  text-decoration: none;
}

nav ul:nth-of-type(2) li:nth-of-type(1) {
  display: none;
}

nav ul:nth-of-type(2) {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2em 2em 2em max-content;

  padding-right: 0.5em;
}

nav ul:nth-of-type(2) li:last-of-type {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
}

nav.menuZien {
  translate: 0;
}

nav ul:nth-of-type(2) li a {
  font-family: "Circular";
  text-transform: capitalize;
  font-size: 1em;
  color: var(--color-menu-text2);
  text-decoration: none;
}

nav ul:nth-of-type(2) li a:hover,
nav ul:nth-of-type(2) li a:focus {
  color: var(--color-accent4);
}

nav form {
  padding: 1em 0.5em 1em 0.5em;
}

nav form input {
  font-family: "Circular";
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
}

nav form button {
  font-family: "Circular-icons";
  font-size: 1.25em;
  color: var(--color-text2);
  background-color: transparent;
  border: none;
  position: absolute;
  padding: 0;
  top: 36%;
  right: 6%;
}

nav form button:hover {
  cursor: pointer;
}

@media (min-width: 73rem) {
  header {
    display: grid;
    grid-template-columns: max-content 28em;
    grid-template-rows: 2em 9em;
  }

  header section:nth-of-type(1) {
    display: none;
  }

  header a {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
  }

  header a h1 {
    text-align: center;
    padding: 0.7em 1.2em 0.8em 1.2em;
  }

  header a img {
    width: 70%;
  }

  nav > button {
    display: none;
  }

  nav {
    position: static;
    translate: unset;
    padding: 0;
    background: none;

    box-shadow: none;

    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }

  nav ul {
    display: flex;
    gap: 1.5em;
  }

  nav form {
    order: 2;
  }

  nav ul:nth-of-type(1) {
    padding-left: 3em;
    padding-top: 1em;
    order: 3;
    gap: 2em;
  }

  nav ul:nth-of-type(1) li * {
    color: var(--color-text);
  }

  nav ul:nth-of-type(2) li:nth-of-type(1) {
    display: block;

    font-family: "Circular";
    text-transform: capitalize;
    font-size: 1em;
    color: var(--color-accent2);
    text-decoration: none;
  }

  nav ul:nth-of-type(2) {
    order: 1;
    display: flex;

    grid-column-start: 1;
    grid-column-end: -1;

    background-color: var(--color-menu);
    padding: 0.5em 0em 0.5em 2em;
    /* font-size: 1.2; */
  }

  nav form {
    display: grid;
    grid-template-columns: 1fr 20em 29em;
  }

  nav form input {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;

    border: none;
    background-color: var(--color-background4);
  }

  nav form button {
    position: relative;
    top: 1%;
    left: 45%;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

/****************/
/*    FOOTER    */
/****************/

footer section:nth-of-type(1) {
  background-color: var(--color-background2);
  padding: 1.8em 0.8em 1.8em 0.8em;
}
footer section:nth-of-type(1) h2 {
  font-family: "Circular";
  color: var(--color-text);
  font-size: 1.75em;
  line-height: 1em;
  text-transform: none;

  margin: 0;
  padding: 0;
}

footer section:nth-of-type(1) p {
  color: var(--color-text);
  font-size: 1em;
  margin: 0.6em 0 0.9em 0;
}

footer section:nth-of-type(1) img {
  display: none;
}

footer section:nth-of-type(1) form {
  display: flex;
  /* justify-self: center; */
}

footer form input {
  font-family: "Circular";
  font-size: 1em;
  width: 80%;
  padding: 0.7em;
}

footer form button {
  font-family: "Circular-thick";
  font-size: 1em;
  cursor: pointer;
  color: var(--color-text3);
  background-color: var(--color-accent);
  border: none;
  padding: 0;

  width: 30%;
}

footer form button:hover,
footer form button:focus {
  background-color: var(--color-accent5);
}

footer section:nth-of-type(2) {
  background-color: var(--color-footer);
  display: flex;
  flex-direction: column;
}

footer section:nth-of-type(2) img {
  width: 32%;
  background-color: var(--color-logo2);
  padding: 1em;
}

footer section:nth-of-type(2) ul {
  display: flex;
  flex-direction: column;
  padding-left: 0.8em;
  margin-top: 0;
}

footer section:nth-of-type(2) ul:nth-of-type(2) {
  padding-bottom: 1em;
  margin-bottom: 0;
}

footer section:nth-of-type(2) li a {
  font-family: "Circular";
  text-decoration: none;
  color: var(--color-text-footer);
  line-height: 1.5em;
}

footer section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(1) {
  padding-top: 1em;
}

footer section:nth-of-type(2) ul:nth-of-type(1) li a {
  font-size: 1.25em;
}

footer section:nth-of-type(2) li a:hover,
footer section:nth-of-type(2) li a:focus {
  color: var(--color-text2-footer);
}

@media (min-width: 63rem) {
  footer section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 13% 43% 42%;
    grid-template-rows: max-content max-content;
    gap: 0 1em;

    padding: 2em 2em 0 2em;

    position: relative;
  }

  footer section:nth-of-type(1) h2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  footer section:nth-of-type(1) p {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    margin-bottom: 2em;
  }

  footer section:nth-of-type(1) img {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/display */
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
  }

  footer section:nth-of-type(1) form {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: -1;
    align-items: center;

    padding-left: 1em;

    font-size: 1.25em;
  }

  footer section:nth-of-type(1) form input {
    width: 70%;
  }

  footer section:nth-of-type(1) form button {
    width: 25%;
    padding: 0.7em 0.3em 0.7em 0.3em;
  }

  footer section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 20em 1fr;
    grid-template-rows: max-content max-content;
  }

  footer section:nth-of-type(2) img {
    grid-column-start: 1;

    width: 100%;
  }

  footer section:nth-of-type(2) ul:nth-of-type(1) {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content max-content max-content;
    gap: 1em 20%;

    padding: 1em 1em 1em 2em;
  }

  footer section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(1) {
    padding-top: 0;
  }

  footer section:nth-of-type(2) ul:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: -1;

    flex-direction: row;
    gap: 1.5em;

    padding-bottom: 0.5em;
  }
}
