/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #2e2e2e;
  --color-background: #f2f2f2;
  --color-background2: #d8d8d8;
  --color-header: #f2f2f2;
  --color-menu: #2e2e2e;
  --color-accent: #fe0000;
  --color-shadow: #000;
  --color-accent2: #ffce58;
  --color-accent3: #a40000;
  --color-carousel: #999;
  --color-white: #fff;
  --color-text-footer: #bfbfbf;
}

/*********/
/* FONTS */
/*********/

@font-face {
  font-family: "Circular";
  src: url("https://assets.viz.com/assets/lineto-circular-book-f06e423ccda8779ebad80a0eae639794683f3a3bf8b49c41a44134ca51a7a6a2.woff");
}

@font-face {
  font-family: "Circular-thick";
  src: url("https://assets.viz.com/assets/lineto-circular-black-8033350c1939eb76a3734eb904b30208dcf293f74798ef38c5925fbf2352974b.woff");
}

@font-face {
  font-family: "Circular-italic";
  src: url("https://assets.viz.com/assets/lineto-circular-bookItalic-bd5af185235fd174d209a9ccba05814baee74be5b506ebefed8c367e96354134.woff");
}

@font-face {
  font-family: "Circular-icons";
  src: url("https://assets.viz.com/assets/viz-icons-29a596f5ab7aad59662e4922b856f3cadc0b599abe54cd39c12c992a5f0e3944.woff");
}

/****************/
/*   GENERAL    */
/****************/

body {
  margin: 0;
  background-color: var(--color-background);
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
}

p {
  font-family: "Circular";
}

/****************/
/*    HEADER    */
/****************/

/* header styling */
header {
  background-color: var(--color-header);

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.7em;
  margin-bottom: -0.7em;
}

header button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2em;
  padding-left: 0.5em;

  font-family: "Circular-icons";
  font-size: 1.3em;
  border: none;
  background-color: var(--color-header);
}

header > button {
  order: -10;
}

header p {
  font-family: "Circular-thick";
  text-transform: uppercase;
}

header a img {
  width: 75px;
}

h1 {
  background-color: var(--color-accent);
  padding: 0.3em 1em 0em 01em;
  margin: 0;
}

/* nav styling */
nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-decoration: none;
  background-color: var(--color-menu);
  box-shadow: 0 0 0.5em var(--color-shadow);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 20%;
  left: 0;

  translate: -150%;
  transition: 0.2s;
}

nav button {
  background-color: var(--color-menu);
  color: var(--color-header);

  padding: 1em;
}

nav ul {
  font-family: "Circular-thick";
  text-transform: uppercase;
  font-size: 1.5em;
  color: var(--color-header);
  text-decoration: none;
  line-height: 2em;
  padding-left: 0.5em;
}

nav input {
  margin: 1em;
  padding-top: 1.2em;
}

ul:nth-of-type(2) li:nth-of-type(1) {
  color: var(--color-accent);
}

ul:nth-of-type(2) {
  font-family: "Circular";
  text-transform: capitalize;
  font-size: 1em;
  color: var(--color-header);
}

nav.menuZien {
  translate: 0;
}

nav li a {
  text-decoration: none;
  color: var(--color-header);
}

/* @media (max-width: 72.5rem) {
  header > button {
    display: none;
  }

  nav {
    position: static;
    translate: 0;
    padding: 0;
    background: none;

    display: flex;
  }

  nav button {
    display: none;
  }

  nav ul {
    display: flex;
    gap: 1em;
  }

  nav input {
    order: 1;
  }

  nav a {
    flex-direction: column;
    border: none;
  }
} */

/* @media (min-width: 57em) {
  nav a {
    flex-direction: row;
  }
} */

/****************/
/*    FOOTER    */
/****************/

footer section:nth-of-type(1) {
  background-color: var(--color-background2);
  padding: 1.8em 0.8em 1.8em 0.8em;
}
footer section:nth-of-type(1) h2 {
  font-family: "Circular";
  color: var(--color-text);
  font-size: 1.75em;
  line-height: 1em;
  text-transform: none;

  margin: 0;
  padding: 0;
}

footer section:nth-of-type(1) p {
  color: var(--color-text);
  font-size: 1em;
  margin: 0.6em 0 0.9em 0;
}

footer section:nth-of-type(1) form {
  display: flex;
  /* justify-self: center; */
}

form input {
  font-family: "Circular";
  text-align: center;
  font-size: 1em;
  width: 80%;
  padding: 0.7em;
}

form button {
  font-family: "Circular-thick";
  font-size: 1em;
  color: var(--color-white);
  background-color: var(--color-accent);
  border: none;
  padding: 0;

  width: 30%;
}
